SELECT ip.id, ip.title, ip.student_id, ip.teacher_id, ip.created_at, s.user_id, (SELECT name FROM users WHERE id = s.user_id) as student_name FROM improvement_plans ip JOIN students s ON ip.student_id = s.id WHERE s.user_id = (SELECT id FROM users WHERE email LIKE '%davidsanti%' LIMIT 1) ORDER BY ip.created_at DESC;
